    <h1 style="text-align:center">You have Submitted  the Details as below : <br></h1>
    <h2 style="text-align:center">
        Name : <%= name %> <br/>
        Email : <%= email %><br/>
        Phone : <%= phno %><br/>
        Address : <%= add %>
    </h2>